

main.css :

body{
    background-image: url("car.jpg");
    background-repeat: no repeat;
    background-size: 100%;
}

table{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 250px;
}


p{
    margin-left: 100px;
    margin-right: 100px;
}

